# IntelliJ / JetBrains
.idea/
app/.idea/
../.idea/

# Node
node_modules/

server/node_modules/

# Environment
.env

# Misc
*.iml
*.class


# Android files:
app/.gradle/*
app/.idea/*
app/build/
app/captures/
app/local.properties
app/*.iml
app/.DS_Store
app/.externalNativeBuild
app/.cxx

