# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Server
/server/node_modules/*
/server/.env
## within Server
/node_modules/*
/.env

